<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <nav>
        <a href="/about/">About Us</a>
        <a href="/contact-us/">Contact Us</a>
        <a href="/shop/">Store</a>
    </nav>
        <h1>Welcome</h1>
        <h2>to our webpage</h2>
        <p>Hello this our first webpage</p>
        <img src="{{url_for('static', filename='cat.png')}}" style="width:500px">
        <br>
        <a href="https://google.com">Google</a>
</body>
</html>